* {
	box-sizing: border-box;
}

.app {
	overflow: hidden;
}

.content {
	display: inline-block;
	float: left;
	width: 50%;
	height: 600px;
	border: 1px solid #e6e6e6;
	padding: 30px;
}

.address {
	margin: 10px 52px;
}

.address_add {
	display: inline-block;
	margin-left: 10px;
	border: 1px solid;
	padding: 0 5px;
}

.submit-area {
	margin-left: 52px;
	margin-top: 30px;
}

.submit-area button {
	font-size: 1rem;
}

.error{
	color: red;
	margin-left: 52px;
}
.debug {
	line-height: 1.5;
}
